/* Header Start */
.navextra{
    display: none;
  }
  #header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px 60px;
    background: cadetblue;
    box-shadow: 0 5px 15px rgba(0, 0 , 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height:70px;
  }
  
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
  }
  #navbar li a:hover,#navbar li a.active{
    color: #088178; 
  }
  #navbar li a.active::after,
  #navbar li a:hover::after{
    /* content: ""; */
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  #header a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 20px; */
  }
  #header a:hover,#header a.active{
    color: #088178; 
  }
  #header a.active::after,
  #header a:hover::after{
    /* content: ""; */
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  #mobile{
    display: none;
    align-items: center;
    
  }
  #close{
    display: none;
  }


/* Media Query */

@media (max-width:799px){

    #header a{
        justify-content: space-between;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: cadetblue;
      box-shadow: 0 40px 60px rgba(0, 0 , 0, 0.01);
      padding: 80px 0 0 10px;
      transition: 0.3s;
      /* margin-right: 150px; */
    }
    #navbar.active{
      right: 0px;
    }
    #navbar li{
      margin-bottom: 25px;
    }
    #mobile{
      display: flex;
      align-items: center;
    }
    #mobile i{
      color: #fff;
      font-size: 24px;
      padding-left: 20px;
    }
    #close{
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222!important;
      font-size: 24px;
    }
    
     #wrapper{
      display: none;
     }
     .navextra{
      display: block;
     }
  }
  @media (max-width:477px){
    #header{
      padding: 10px 30px;     
    }
    
  
  }
  
  