{% load static %}

  <!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>E-Education</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quasi magni ipsa provident eligendi corrupti similique recusandae laboriosam doloribus voluptatibus explicabo debitis, accusamus ipsum deserunt voluptate? Soluta exercitationem facere quaerat.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <b><h4>Quick Links</h4></b>
        <ul class="footer-links">
          <b>

            {% if request.user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'courses' %}">Courses</a></li>
            <li><a href="{% url 'myenrollments' %}">My Enrollments</a></li>
            <li><a href="{% url 'st-myprofile' %}">My Profile</a></li>
            <li><a href="{% url 'st-logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'st-login' %}">Student Login</a></li>
            <li><a href="{% url 'st-signup' %}">Student Signup</a></li>
            <li><a href="{% url 'prf-login' %}">Professor Login</a></li>
            <li><a href="{% url 'prf-signup' %}">Professor Signup</a></li>
            {% endif %}
          </b>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; <span id="year"></span> All Rights Reserved by
          <a href="#">E-Education</a>.
        </p>
      </div>
      
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<script>
  new Date().getFullYear()  // returns the current year
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>