{% extends 'student/base.html' %}
{% load static %}
{% load custom_tags %}
{% block main %}





    <!-- Main Start -->
    <div class="main">

        <!-- Open Tasks Start -->
        <div class="container">
            <div class="table-content"></div>
            <h1 class="my-3 text-center">Enrollments</h1>

            {% if enrollments %}
            <div class="container ">
              <table class="table table-responsive table-hover">
                <thead>
                  <tr>
                        <th class="col">Course Title</th>
                        <th class="col">Professor</th>
                        <th class="col">Batch no</th>
                        <th class="col">Class</th>
                        <th class="col">Section</th>
                        <th class="col">Status</th> 
                        <th class="col">Progress</th> 
                        <th class="col">Action</th> 
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for enrollment in enrollments %}
                      <tr>
                        <td>{{enrollment.assign_professor_id.course_id}}</td>
                        <td>{{enrollment.assign_professor_id.prf_id.first_name}} {{enrollment.assign_professor_id.prf_id.last_name}}</td>
                        <td>{{enrollment.assign_professor_id.class_id.batch}}</td>
                        <td>{{enrollment.assign_professor_id.class_id.title}}</td>
                        <td>{{enrollment.assign_professor_id.class_id.section}}</td>
                        
                        
                        
                        
                        {% if enrollment.status == True %}
                        <td><p class="badge badge-success">Enrolled</p></td>
                        {% if progress %}
                        {% for pro in total_progress  %}
                        {% for lectures in total_lectures %}
                        {% if lectures.course.course_id.id == pro.course_media.course_id.id %}
                        
                        <td><div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped text-dark bg-success" role="progressbar" aria-valuenow="{{forloop.counter|percentage:lectures.count}}0"
                          aria-valuemin="0" aria-valuemax="100" style="width:{{forloop.counter|percentage:lectures.count}}%">
                          {{forloop.counter|percentage:lectures.count}}% Completed
                          </div>
                        </div></td>
                        

                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% else %}
                        <td><div class="progress">
                          <div class="progress-bar progress-bar-warning progress-bar-striped text-dark bg-success" role="progressbar" aria-valuenow="0"
                          aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            0% Completed
                          </div>
                        </div></td>
                        {% endif %}
                        <td><button type="button" onclick="Course_id({{enrollment.assign_professor_id.course_id.id}},{{enrollment.assign_professor_id.prf_id.id}},)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">View</button></td>
                        {% else %}                        
                        <td><p class="badge badge-warning">Applied</p></td>
                        {% endif %}

                        
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>

            </div>

        </div>

    </div>
        

        <!-- Open Tasks End -->
        
          <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="container">
                <div class="table-content"></div>
                <h1 class="my-3 text-center">Lectures</h1>
    
                <div class="container ">
                    <table class="table table-responsive table-hover">
                        <thead>
                          <tr>
                            <th class="col">Course Title</th>
                            <th class="col">Lecture Title</th>
                            <th class="col">Created At</th>
                            <th class="col">Lecture</th> 
                            <th class="col">Progress</th> 
                          </tr>
                        </thead>
                        <tbody id="lecture-table-body">
                            {% for lectures in course_media %}
                                <tr data-course-id="{{ lectures.course_id.id }}" data-prf-id="{{ lectures.prf_id.id }}">
                                    <td>{{ lectures.course_id }}</td>
                                    <td>{{ lectures.title }}</td>
                                    <td>{{ lectures.created_at }}</td>
                                    <td><a type="button" download="" class="btn btn-info"  onclick="progress({{lectures.id}})" href="{{ lectures.file.url }}">Download</a></td>
                                    {% if progress %}
                                    {% for progress in progress %}
                                    {% if progress.course_media.id == lectures.id  %}
                                    <td><span class="badge badge-success" >Completed</span></td>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <td><span class="badge badge-danger" >Uncompleted</span></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                        </tbody>
                      </table>
    
                </div>
    
    
    
            </div>
            
              
              

                </div>
                
              </div>
                  
        </div>
        
      </div>
    </div>
  </div>
  {% else %}

  <div>
    <center><h2 class="text-danger my-5">No Active Enrollment to show</h2></center>
  </div>
  {% endif %}



  <script>
    function Course_id(course_id,prf_id){

      var tableRows = document.querySelectorAll('#lecture-table-body tr');
      for (var i = 0; i < tableRows.length; i++) {
          var row = tableRows[i];
          var dataCourseId = parseInt(row.getAttribute('data-course-id'));
          var dataPrfId = parseInt(row.getAttribute('data-prf-id'));

          if (dataCourseId === course_id && dataPrfId === prf_id) {
              row.style.display = 'table-row';
          } else {
              row.style.display = 'none';
          }
      }
    }
    function progress(pid){
      const url = `http://127.0.0.1:8000/st/progress/${pid}/`;
      window.location.href = url;
    }
  </script>



  {% endblock main %}